# remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

#powerline

source '$HOME/Library/Python/2.7/lib/python/site-packages/powerline/bindings/tmux/powerline.conf'

# split panes using | and -
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# Enable mouse mode (tmux 2.1 and above)
set -g mouse on

# Reload
unbind r
bind r source-file ~/.tmux.conf\; display "Reloaded"

# pane selection (same as vim)
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

#count windows and panes from 1
set -g base-index 1
setw -g pane-base-index 1

